.profile__order {
  background-color: white;
  border-radius: 24px;
  padding: 32px 40px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  cursor: pointer;
  &-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    row-gap: 8px;
    grid-template-areas:
    "date status"
    "number .";
  }
  &-date {
    margin: 0;
    grid-area: date;
    font-size: $fontSH3;
    font-weight: $fontWH3;
    line-height: 125%;

  }
  &-number {
    margin: 0;
    grid-area: number;
    font-size: $fontSBody;
    font-weight: $fontWBody;
    line-height: 120%;
  }
  &-status {
    grid-area: status;
    justify-self: end;
    background-color: rgba(67, 80, 214, 0.30);
    color: #4350D6;
    font-size: $fontSBodyBold;
    font-weight: $fontWBodyBold;
    line-height: normal;
    padding: 4px 8px;
    border-radius: 4px;
  }
  &-summary {
    display: flex;
    justify-content: space-between;
  }
  &-summary-info {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    align-self: flex-end;
    font-size: $fontSCharacteristics;
    font-weight: $fontWCharacteristics;
    line-height: 120%;
  }
  &-images {
    display: flex;
    column-gap: 24px;
  }
  &-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
}