/* If cart is full, use this styles: */
.cart {
  display: flex;
  width: 1440px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.cart__container {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  padding-right: 40px;
  padding-left: 40px;
  width: 1360px;
}

.cart__header {
  display: flex;
  margin: 0;
  align-self: flex-start;
  font-family: 'Wix Madefor Display';
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}

.cart__content {
  display: flex;
  justify-content: space-between;
  gap: 23px;
  margin-bottom: 140px;
}

.cart__list {
  display: flex;
  margin-top: 45px;
  gap: 24px;
  flex-direction: column;
  max-width: 900px;
  width: 900px;
}

.cart__summary {
  display: block;
}

.cart__summary-container {
  display: flex;
  border-radius: 24px;
  margin: 44px 0 24px 0;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  background-color: white;
  padding: 40px;
}

.cart__order-title-wrapper {
  display: flex;
  width: 357px;
  height: 54px;
  border-bottom: 1px solid #AFB4C0;
}

.cart__order-title {
  display: flex;
  margin: 0;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  color: #272A31;
}

.cart__order-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 357px;
}

.cart__order-info-wrapper {
  display: flex;
  justify-content: space-between;
}

.cart__order-info-sum {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.cart__order-info-sum-number {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #272A31;
}

.cart__order-total-wrapper {
  display: flex;
  width: 357px;
  height: 48px;
  border-top: 1px solid #AFB4C0;
  justify-content: space-between;
  align-items: flex-end;
}

.cart__order-total {
  display: flex;
  margin: 0;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  color: #272A31;
}

.cart__order-total-sum {
  display: flex;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  color: #272A31;
  margin: 0;
}

.cart__order-button-wrapper {
  display: flex;
}

.card__order-button-link {
  text-decoration: none;
}

.cart__order-button {
display: flex;
width: 437px;
height: 56px;
padding: 16px 40px;
justify-content: center;
align-items: center;
border-radius: 40px;
border: 1px solid black;
background: transparent;
cursor: pointer;
background-color: black;
color: white;
}

.cart__order-button-title {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}

/* If cart is empty, use this styles: */
.cart__default-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 432px;
  gap: 24px;
}

.cart__default-info {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 146%;
  color: #272A31;
  text-align: center;
  margin: 0;
}

.cart__default-info-description {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 72px;
}

.cart__default-info-p {
  margin: 0;
  font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}

.cart__default-button {
  width: 265px;
  height: 56px;
  padding: 16px 40px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border: none;
  background-color: black;
}

.cart__default-button-content {
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: max-content;
  color: white;
}