.results {
  display: flex;
  width: 1440px;
  box-sizing: border-box;
  // justify-content: center;
  // align-items: center;
  // min-height: 100vh;
  margin: 48px auto auto;
}

.results__container {
  display: flex;
  flex-direction: column;
  // margin-top: 64px;
  padding-right: 40px;
  padding-left: 40px;
  width: 1360px;
}

.results__title {
  @include fontStyle($fontSH2, $fontWH2);
  display: flex;
  font-family: 'Wix Madefor Display', 'Inter', Arial, sans-serif;
  align-self: flex-start;
  // font-family: "Inter", Arial, sans-serif;
  // font-weight: 500;
  // font-size: 56px;
  line-height: 1.2;
  margin-bottom: 44px;
}
