.results {
  display: flex;
  width: 1440px;
  box-sizing: border-box;
  // justify-content: center;
  // align-items: center;
  // min-height: 100vh;
  margin: 0 auto auto;
  position: relative;
}

.results__container {
  // position: relative;
  display: flex;
  margin-top: 48px;
  flex-direction: column;
  // margin-top: 64px;
  padding-right: 40px;
  padding-left: 40px;
  width: 1360px;
}

.results__title {
  @include fontStyle($fontSH2, $fontWH2);
  display: flex;
  font-family: 'Wix Madefor Display', 'Inter', Arial, sans-serif;
  align-self: flex-start;
  // font-family: "Inter", Arial, sans-serif;
  // font-weight: 500;
  // font-size: 56px;
  line-height: 1.2;
  margin-bottom: 44px;
}

.results__no-results-container {
  margin: 40px auto 140px;
  gap: 24px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.results__no-results-title {
  text-align: center;
  @include fontStyle($fontSH3, $fontWH3);
}

.results__no-results-subtitle {
  @include fontStyle($fontSBody, $fontWBody);
}

.results__button {
  width: 228px;
  height: 56px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border: 1px solid black;
  background: transparent;
  cursor: pointer;
  background-color: black;
  color: white;
  @include fontStyle($fontSButton, $fontWButton);
}
