.results {
  display: flex;
  width: 1440px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.results__container {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  padding-right: 40px;
  padding-left: 40px;
  width: 1360px;
}

.results__title {
  display: flex;
  margin: 0;
  align-self: flex-start;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 56px;
  line-height: 68.38px;
}