.card-medium {
  margin: auto;
  position: relative;
  list-style: none;
  padding-left: 0;
}

.card-medium__container {
  width: 322px;
  height: 474px;

}

.card-medium__like {
  background-image: url('#{$imagesDir}1.svg');
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  background-position: center;
  background-color: transparent;
  border: none;
  padding: 8px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.card-medium__like:hover {
  background-image: url('#{$imagesDir}hover-like.svg');
}

.card-medium__like_active {
  background-image: url('#{$imagesDir}liked.svg');
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  background-position: center;
  background-color: transparent;
  border: none;
  padding: 8px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.card-medium__sticker {
  font-family: Wix Madefor Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: var(--Black, #272A31);
  width: 56px;
  height: 24px;
  padding: 6px 8px 2px;
  border-radius: 40px;
  background: #afc0ff;
  position: absolute;
  top: 12px;
  left: 12px;
  margin: 0;
  text-align: center;
}

.card-medium__sticker_inactive {
  display: none;
}

.card-medium__sticker_lowdiscount {
  background: #afffbc;
}

.card-medium__image {
  border-radius: 25px;
  background: var(--Gray, #ededed);
  width: 322px;
  height: 376px;
}

.card-medium__buy {
  background-image: url('#{$imagesDir}shopping.svg');
  width: 64px;
  height: 56px;
  background-position: center;
  border-radius: 40px;
  background-color: #272A31;
  border: none;
  padding: 16px 20px;
  position: absolute;
  top: 304px;
  right: 16px;
  background-repeat: no-repeat;
}

.card-medium__buy:hover {
  background-color: var(--Pink, #f0c7ec);
  transition: background-color .3s ease-in-out;
}

.card-medium__title {
  overflow: visible;
  color: #272A31;
  text-overflow: ellipsis;
  font-family: Inter;
  white-space: pre-wrap;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  hyphens: auto;
  word-wrap: break-word;
  margin: 0;
  max-height: 48px;
  overflow: hidden;
}

.card-medium__price {
  font-family: 'Wix Madefor Display';
  color: #272A31;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
}

.card-medium__oldprice {
  color: #AFB4C0;
  font-family: 'Wix Madefor Display';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-decoration-line: line-through;
  margin: 0;
}

.card-medium__container-price {
  display: flex;
  gap: 8px;
  align-items: baseline;
}

.card-medium__link {
  hyphens: auto;
  word-wrap: break-word;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-medium__counter {
  color: var(--Black, #222);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: absolute;
  top: 321px;
  left: 244px;
}

.card-medium__buy_big {
  width: 82px;
  background-image: url('#{$imagesDir}shopping1.svg');
  height: 56px;
  background-position: 38px;
  border-radius: 40px;
  background-color: var(--White, #fff);
  border: 1px solid var(--Black, #222);
  padding-top: 16px;
  position: absolute;
  top: 304px;
  right: 16px;
  background-repeat: no-repeat;
}

.card-medium__container-footer {
  display: flex;
  flex-direction: column;
  height: 90px;
  justify-content: space-between;
}

.card-medium__container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}