.popup-product-photo {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .9);
  padding: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity .4s linear;
  z-index: 10001;
}

.popup-product-photo_opened {
  visibility: visible;
  opacity: 1;
}

.popup-product-photo__container {
  margin: auto;
  position: relative;
  max-width: 1360px;
}

.swiper.swiper-full-photo {
  border-radius: unset;
  margin-top: 0;
}

.swiper-full-photo__img {
  width: 100%;
  height: 100%;
  max-height: 75vh;
  max-width: 75vw;
  object-fit: contain;
}

.swiper-full-photo .swiper-slide {
  background-color: transparent;
}

.swiper-full-photo .swiper-wrapper {
  align-items: center;
}

.popup-product-photo__btn-close {
  position: absolute;
  right: -25px;
  top: -25px;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.popup-product-photo__btn-close::after,
.popup-product-photo__btn-close::before {
  content: '';
  width: 25px;
  height: 2px;
  background-color: rgb(31, 175, 211);
  position: absolute;
  top: 0;
  bottom: 0;
}

.popup-product-photo__btn-close::after {
  transform: rotate(45deg);
}

.popup-product-photo__btn-close::before {
  transform: rotate(-45deg);
}

// .swiper-full-photo .swiper-button-next,
// .swiper-full-photo .swiper-button-prev {
//   color: #fff;
// }
