@import '../../utils/variables';

.about-company {
    box-sizing: border-box;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 44px 271px 138px 155px;
}

.about-company__header {
  @include fontStyle($fontSH1, $fontWH1);
  font-family: $fontFamilyWMD;
  line-height: 40px;
  margin-bottom: 44px;
}

.about-company__feature-list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 899px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 'goal delivery' 'new delivery';
  column-gap: 24px;
  row-gap: 44px;
}

.about-company__feature:first-of-type {
  grid-area: goal;
}

.about-company__feature:nth-last-of-type(2) {
  grid-area: delivery;
}

.about-company__feature:last-of-type {
  grid-area: new;
}

.content {
  display: grid;
  grid-template-areas: 'a b' 'a c';
  column-gap: 8px;
  height: fit-content;
}

.content__head {
  @include fontStyle($fontSH4, $fontWBody);
  font-family: $fontFamilyWMD;
  line-height: normal;
  margin-bottom: 26px;
  grid-area: b;
}

.content__icon {
  grid-area: a;
  width: 32px;
  height: 32px;
}

.content__text {
  @include fontStyle($fontSBody, $fontWBody);
  line-height: 24px;
  margin-bottom: 16px;
  max-width: 386px;
}

.content__description {
  grid-area: c;
}

.content__text:last-of-type {
  margin-bottom: 0;
}
