.about-company {
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
    padding: 44px 271px 140px 155px;
}

.about-company__header {
  font-size: 68px;
  font-weight: 700;
  line-height: 100%;
  margin-top: 0;
  margin-bottom: 64px;
}

.about-company__feature-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 'goal delivery' 'new delivery';
  column-gap: 139px;
  row-gap: 64px;
}

.about-company__feature:first-of-type {
  grid-area: goal;
}

.about-company__feature:nth-last-of-type(2) {
  grid-area: delivery;
}

.about-company__feature:last-of-type {
  grid-area: new;
}

.content {
  display: grid;
  grid-template-areas: 'a b' 'a c';
  column-gap: 9px;
  height: fit-content;
}

.content__head {
  font-size: 32px;
  font-weight: 700;
  line-height: 146%;
  margin-top: 0;
  margin-bottom: 24px;
  grid-area: b;
}

.content__icon {
  grid-area: a;
  width: 38px;
  height: 38px;
}

.content__text {
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0;
  margin-bottom: 16px;
  max-width: 386px;
}

.content__description {
  grid-area: c;
}

.content__text:last-of-type {
  margin-bottom: 0;
}
