.catalog {
  margin: auto;
  max-width: 1360px;
}

.catalog-shared {
  margin-bottom: 140px;
}

.catalog__title {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  margin: 0;
}

.catalog__title-catalog {
  font-size: 32px;
}

.catalog__rendered-list {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 44px 24px;
  max-width: 1014px;
  margin: 0;
}

.catalog__rendered-list_type_4items {
  grid-template-columns: repeat(4, 1fr);
  max-width: none;
}

.catalog__container {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.catalog__collection {
  width: 322px;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.catalog__model {
  font-weight: 400;
  color: var(--Black, #222);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.catalog__model-link {
  text-decoration: none;
  color: var(--Black, #222);
}

.catalog__container-big {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  gap: 41px;
  margin-bottom: 140px;
  padding-left: 5px;
}

.catalog__models {
  font-weight: 600;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: var(--Black, #222);
  font-size: 24px;
  font-style: normal;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.catalog__rendered-categories {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(1, 1014px);
  max-width: 1014px;
  margin: 0;
}

.catalog__render-cat {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.catalog__render-popular {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px 24px;
}

.catalog__popular {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  margin: 66px 0 33px;
}

.catalog__text {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.catalog__model-catalog {
  margin-top: 16px;
}

.catalog__model-catalog:first-child {
  margin-top: 0;
}
