.product-page {
  max-width: 1360px;
  width: 100%;
  padding: 44px 0 120px;
  margin: 0 auto;
  position: relative;
}

.product-page__head-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}

.product-page__header {
  @include fontStyle($fontSH2, $fontWH2);
  font-family: $fontFamilyWMD;
  color: $secondaryBlackColor;
  line-height: 40px;
  max-width: 1130px;
}

.product-page__item-number {
  @include fontStyle($fontSCaptionRegular, $fontWCaptionRegular);
  text-align: right;
  margin-left: 24px;
  color: $secondaryBlackColor;
}

.product-page__info-container {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  margin-bottom: 64px;
}

.product-page__slider {
  width: 553px;
  display: flex;
  flex-direction: row-reverse;
  gap: 24px;
  z-index: 0;
}

.product-page__characteristics {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-page__characteristic-head {
  @include fontStyle($fontSH3, $fontWH3);
  color: $secondaryBlackColor;
  line-height: 30px;
}

.product-page__all-characteristics {
  @include fontStyle($fontSButton, $fontWButton);
  color: #2635D6;
  cursor: pointer;
  margin-top: 12px;
}

.product-page__price-block {
  max-width: 322px;
  padding: 40px 24px;
  height: fit-content;
  background-color: $whiteColof;
  border-radius: 24px;
  margin-left: auto;
}

.product-page__current-price {
  @include fontStyle($fontSPrice, $fontWPrice);
  color: $accentBlueColor;
  line-height: 30px;
  margin-right: 16px;
}

.product-page__old-price {
  @include fontStyle($fontSOldPriceMedium, $fontWOldPriceMedium, $fontDOldPrice);
}

.product-page__buttons {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 32px;
  width: 274px;
  padding-right: 8px;
  box-sizing: border-box;
}

.product-page__button-basket {
  @include fontStyle($fontSButton, $fontWButton);
  color: $whiteColof;
  line-height: 18px;
  padding: 16px 20px;
  border-radius: 40px;
  border: none;
  background-color: $blackColor;
  display: flex;
  width: 202px;
  min-height: 56px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.product__quantity-button {
  box-sizing: border-box;
  display: flex;
  width: 202px;
  padding: 12px 34px;
  gap: 30px;
  border-radius: 40px;
  border: 1px solid $secondaryBlackColor;
}

.product__quantity-button-symbol {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.product__quantity-button-symbol_inactive {
  cursor: default;
}

.product__quantity-button-icon {
  width: 16px;
  height: 16px;
}

.product__quantity-button-number {
  @include fontStyle($fontSPrice, $fontWPrice);
  line-height: 30px;
}

.product-page__button-faivorite {
  background-color: $whiteColof;
  border: none;
  padding: 12px 6px;
  cursor: pointer;
}

.product-page__faivorite-icon {
  width: 32px;
  height: 32px;
}

.product-page__benefits-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.product-page__benefit-text {
  @include fontStyle($fontSBody, $fontWBody);
  color: $secondaryBlackColor;
}

.product-page__about-product {
  max-width: 1124px;
  margin: auto;
}

.product-page__about-header {
  display: flex;
  gap: 24px;
  margin-bottom: 44px;
}

.product-page__description-btn {
  @include fontStyle($fontSButton, $fontWButton);
  line-height: 18px;
  padding: 16px 40px;
  width: 204px;
  text-align: center;
  color: $secondaryBlackColor;
  background-color: transparent;
  border: 1px solid #AFB4C0;
  border-radius: 40px;
  cursor: pointer;
}

.product-page__description-btn_active {
  border-color: $secondaryBlackColor;
  cursor: default;
}

.product-page__about {
  max-width: 784px;
}

.product-page__about-description {
  @include fontStyle($fontSBody, $fontWBody);
  color: $secondaryBlackColor;
  line-height: 24px;
}

.product-page__about-description:not(:last-of-type) {
  margin-bottom: 24px;
}