.faq__container {
  max-width: 1130px;
  margin: auto;
  padding: 44px 40px 140px;
}

.faq__header {
  margin-top: 0;
  margin-bottom: 64px;
  font-size: 68px;
  font-weight: 700;
  line-height: 100%;
}