.faq {
  max-width: 1130px;
  width: 100%;
  margin: 0 auto;
  padding: 44px 40px 138px;
}

.faq__header {
  margin-bottom: 44px;
  @include fontStyle($fontSH1, $fontWH1);
  font-family: $fontFamilyWMD;
  line-height: 40px;
}
