.faq {
  max-width: 1130px;
  width: 100%;
  margin: auto;
  padding: 44px 40px 140px;
}

.faq__header {
  margin-top: 0;
  margin-bottom: 44px;
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
}