.profile__orders {
  grid-column: 2 / -1;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.profile__button {
  grid-column: 2 / -1;
  width: max-content;
  background-color: transparent;
  border: none;
  font-size: 20px;
  line-height: 120%;
  font-weight: 600;
  color: #4350D6;
  cursor: pointer;
  transition: opacity .3s;
  margin: 44px auto 0;
}

.profile__button:hover {
  opacity: .7;
}