.payments-page {
  margin: 0 0 auto;

}

.payments-page__title {
  max-width: 1360px;
  margin: 44px auto 44px auto;
  @include fontStyle($fontSH2, $fontWH2);
  font-family: 'Wix Madefor Display';
}

.payments-page__container {
  width: 1360px;
  margin: 0 auto 140px;
  display: flex;
}

.payments-page__input-containers {
  width: 899px;
  height: 635px;
}

.payments-page__client-name {
  width: 100%;
  height: 220px;
  margin-bottom: 24px;
  background-color: $whiteColof;
  border-radius: 24px;
}

.payments-page__client-address {
  width: 100%;
  height: 391px;
  background-color: $whiteColof;
  border-radius: 24px;
}

.payments-page__title-container {
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
}

.payments-page__form-title {
  @include fontStyle($fontSH3, $fontWH3);
  padding: 40px 0 24px 40px;
}

.payments-page__form-title_type_address {
  line-height: 35px;
}

.payments-page__line {
  border-bottom: 1px #B6B6B6 solid;
  margin: 0 40px;
}

.payments-page__input-container {
  display: flex;
  width: 819px;
  margin: 24px 40px 0 40px;
}

.payments-page__input-label {
  width: 394px;
  display: flex;
  flex-direction: column;
}

.payments-page__input-title {
  @include fontStyle($fontSCaption, $fontWCaption);
}

.payments-page__client-data-input {
  width: 100%;
  height: 40px;
  background-color: #FFF;
  border-radius: 12px;
  border: 1px solid $blackColor;
  padding: 0;
  color: $blackColor;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;
  outline: none;
  margin-top: 8px;
  padding: 0 10px;
  box-sizing: border-box;
}

.payments-page__input-label:first-of-type {
  margin-right: 31px;
}

.payments-page__input-error {
  color: #EE3465;
  margin-top: 3px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
}

.payments-page__delivery-type {
  background: var(--main-white, #FFF);
  width: 126px;
  height: 35px;
  border-radius: 24px;
  @include fontStyle($fontSButton, $fontWButton);
  margin: auto 0;
  border: none;
  margin: 40px 24px 24px auto;
}

.payments-page__delivery-type:first-of-type {
  width: 92px;
  // margin: 40px 24px 24px auto;
}

.payments-page__delivery-type:last-of-type {
  width: 126px;
  margin-right: 0;
  margin-left: 0;
}

.payments-page__address-container {
  margin: 24px 40px 0;
  height: 228px;
  border: 1px solid red;
  display: flex;
}

.payments-page__address-input-container {
  border: 1px solid blue;
  width: 255px;
  height: 100%;
}

.payments-page__input-label_type_address {
  width: 100%;
}

.payments-page__address-box {
  margin-top: 16px;
  border: 1px greenyellow solid;
  height: 146px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 25px;
}

.payments-page__summary-conatiner {
  // display: flex;
}

.payments-page__summary {
  background-color: $whiteColof;
  border-radius: 24px;
  width: 437px;
  margin-left: 24px;

}

.payments-page__cart-container {
  margin: 24px 40px 24px 40px;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 16px;
}

.payments-page__good {
  background: var(--main-white, #FFF);
  width: 100px;
  height: 100px;
  border-radius: 13.333px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.payments-page__good-photo {
  margin: auto;
  height: 72px;
  max-width: 59px;
  object-fit: cover;
  border-radius: 6px;
}

.payments-page__good-numbers {
  position: absolute;
  @include fontStyle($fontSCaption, 600);
  bottom: 6px;
  right: 6px;
  line-height: 14px;
  font-family: 'Wix Madefor Display';
}

.payments-page__summary-data {
  display: flex;
  justify-content: space-between;
  margin: 0 40px 24px 40px;
}

.payments-page__summary-row {
  @include fontStyle($fontSBody, $fontWBody)
}

.payments-page__summary-row_discount {
  color: var(--Dark-gray, #B6B6B6);
}

.payments-page__summary-final {
  @include fontStyle($fontSPriceSmall, $fontWPriceSmall);
  margin: 24px 0 40px;
}

