.payments-page {
  margin: 0 0 auto;

}

.payments-page__title {
  max-width: 1129px;
  margin: 44px auto 44px auto;
  @include fontStyle($fontSH2, $fontWH2);
  font-family: 'Wix Madefor Display';
}

.payments-page__container {
  width: 1129px;
  margin: 0 auto 140px;
  display: flex;
}

.payments-page__input-containers {
  width: 668px;
  // height: 582px;
  background-color: #FFF;
  border-radius: 24px;
  padding: 0 40px;
  box-sizing: border-box;
}

.payments-page__client-name {
  // width: 667px;
  // height: 582px;
  // margin-bottom: 24px;
  // background-color: $whiteColof;
  // border-radius: 24px;
}

.payments-page__client-address {
  width: 100%;
  // height: 391px;
  background-color: $whiteColof;
  border-radius: 24px;
}

.payments-page__form-title {
  @include fontStyle($fontSH3, $fontWH3);
  line-height: 1.25;
  padding: 40px 0 24px;
}

.payments-page__form-title_type_summary {
  padding-bottom: 12px;
}

.payments-page__subtitle {
  color: #4350D6;
  line-height: 112.5%;
  @include fontStyle($fontSButton, $fontWButton);
  // padding-left: 40px;
  // padding-bottom: 16px;
}

.payments-page__link-container {
  margin-bottom: 37px;
  width: 312px;
  display: flex;
  justify-content: center;
}

.payments-page__form-title_type_address {
  line-height: 35px;
  padding-bottom: 12px;
}

.payments-page__line {
  border-bottom: 1px #B6B6B6 solid;
  // margin: 0 40px;
}

.payments-page__line_type_courier {
  margin: 32px 0;
}

.payments-page__line_type_courier-scroll {
  margin: 17px 0 32px 0;
}

.payments-page__input-container {
  // display: flex;
  // width: 819px;
  // margin: 0 40px 0 0;
  margin-bottom: 16px;
}

.payments-page__input-label {
  width: 394px;
  display: flex;
  flex-direction: column;
}

.payments-page__input-title {
  @include fontStyle($fontSCaptionRegular, $fontWCaptionRegular);
}

.payments-page__client-data-input {
  width: 100%;
  height: 48px;
  background-color: #FFF;
  border-radius: 12px;
  border: 1px solid $blackColor;
  padding: 0;
  // color: $blackColor;
  @include fontStyle($fontSBody, $fontWBody);
  margin-top: 8px;
  padding: 0 10px;
  box-sizing: border-box;
}

.payments-page__client-data-input_type_comment {
  height: 64px;
  margin-top: 0;
  margin-bottom: 44px;
  padding: 6px 10px;
  white-space: pre-line;
}

// .payments-page__input-label:first-of-type {
//   margin-bottom: 16px;
// }

.payments-page__input-error {
  color: #EE3465;
  margin-top: 3px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
}

.payments-page__title-container {
  display: flex;
  // justify-content: space-between;
  // padding-left: 40px;
  margin-top: 16px;
  position: relative;
  margin-bottom: 8px;
}

.payments-page__delivery-label {
  display: flex;
  @include fontStyle($fontSButton, $fontWButton);
}

.payments-page__delivery-label:first-of-type {
  margin-right: 36px;
}

.payments-page__delivery-type_type_invisible {
  position: absolute;
  left: 50px;
  width: 1px;
  height: 1px;
  // overflow: hidden;
  // clip-path: inset(0 0 0 0);
  // z-index: 1;
  clip: rect(0 0 0 0);
}

.payments-page__delivery-type_type_visible {
  border: 1px solid $blackColor;
  display: inline-block;
  width: 20px;
  height: 20px;
  // background-color: #3DDC84;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  margin-top: -3px;
  margin-right: 12px;
}

.payments-page__delivery-type_type_visible::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  top: 3px;
  right: 3px;
}

.payments-page__delivery-type_type_invisible:checked + .payments-page__delivery-type_type_visible::before {
  background-color: $blackColor;
}

.payments-page__address-container {
  // margin: 24px 40px 0;
  // height: 228px;
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.payments-page__address-title {
  @include fontStyle($fontSH3, $fontWH3);
  margin-bottom: 27px;
}

.payments-page__address-input-container {
  // border: 1px solid blue;
  width: 508px;
  // height: 100%;
}

.payments-page__input-label_type_address {
  width: 100%;
}

.payments-page__input-label_type_comment {
  width: 588px;
  // height: 64px;
}

.payments-page__address-box {
  margin-top: 16px;
  // border: 1px greenyellow solid;
  // height: 146px;
  display: grid;
  // grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.payments-page__summary-conatiner {
  // display: flex;
}

.payments-page__summary {
  background-color: $whiteColof;
  border-radius: 24px;
  width: 437px;
  margin-left: 24px;
  padding: 0 40px;
  box-sizing: border-box;

}

.payments-page__cart-container {
  margin: 24px 0;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 16px;
}

.payments-page__good {
  background: var(--main-white, #FFF);
  width: 100px;
  height: 100px;
  border-radius: 13.333px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.payments-page__good-photo {
  margin: auto;
  height: 82px;
  width: 82px;
  object-fit: contain;
  border-radius: 6px;
}

.payments-page__good-numbers {
  position: absolute;
  @include fontStyle($fontSCaption, 600);
  bottom: 6px;
  right: 6px;
  line-height: 14px;
  font-family: 'Wix Madefor Display';
}

.payments-page__summary-data {
  display: flex;
  justify-content: space-between;
  // margin: 0 40px 24px 40px;
  margin-bottom: 24px;
}

.payments-page__summary-row {
  @include fontStyle($fontSBody, $fontWBody);
  line-height: 1.2;
}

.payments-page__summary-row_discount {
  color: var(--Dark-gray, #B6B6B6);
}

.payments-page__summary-final {
  @include fontStyle($fontSH3, $fontWH3);
  margin: 24px 0 40px;
}

.payments-page__pickup-point-button {
  display: flex;
  width: 437px;
  height: 56px;
  // padding: 16px 40px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border: 1px solid black;
  background: transparent;
  cursor: pointer;
  background-color: black;
  color: white;
  }

.payments-page__pickup-point-button-title {
    @include fontStyle($fontSButton, $fontWButton);
    line-height: 18px;
    color: $whiteColof;
}

.payments-page__phone-input {
  // border: none;
  outline: none;
  @include fontStyle($fontSBody, $fontWBody);
  width: 100%;
  height: 48px;
  background-color: #FFF;
  border-radius: 12px;
  border: 1px solid #222;
  padding: 0;
  text-decoration: none;
  margin-top: 8px;
  padding: 0 10px;
  box-sizing: border-box;
}

.payments-page__date-container {
  // display: grid;
  // grid-template-columns: repeat(5, 1fr);
  display: flex;
  gap: 24px;
  // overflow: hidden;
  // height: 83px; // ВЕРНУТЬ
  height: 90px;
  // overflow-x: scroll;
  // overflow-x: clip;
  overflow-x: auto;
  white-space: nowrap;
  overflow-y: hidden;
}

.payments-page__date-label {
  display: flex;
  @include fontStyle($fontSButton, $fontWButton);
}

.payments-page__date_type_invisible {
  position: absolute;
  left: 50px;
  width: 1px;
  height: 1px;
  // overflow: hidden;
  // clip-path: inset(0 0 0 0);
  // z-index: 1;
  clip: rect(0 0 0 0);
}

.payments-page__date_type_visible {
  border: 1px solid $greyColor;
  display: inline-block;
  width: 153px;
  height: 68px;
  box-sizing: border-box;
  // background-color: #3DDC84;
  border-radius: 40px;
  position: relative;
  cursor: pointer;
  // margin-top: -3px;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.payments-page__page__delivery-date-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.payments-page__date_type_visible-text {
  @include fontStyle($fontSButton, $fontWButton)
}

.payments-page__date_type_invisible:checked + .payments-page__date_type_visible {
  border: 1px solid $blackColor;
}

.payments-page__popup {
  display: flex;
  opacity: 0;
  transition: visibility 1s, opacity 1s ease;
  visibility: hidden;
  color: #000000;
  width: 100%;
  height: 100%;
  // background-color: rgb(0 0 0 / 0.9 );
  background-color: rgba(28, 36, 55, 0.50);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  // z-index: 2;
}

.payments-page__popup_opened {
  opacity: 1;
  visibility: visible;
  z-index: 101;
}

.payments-page__popup-container {
    position: relative;
    width: 898px;
    height: 700px;
    // display: contents;
    background-color: $greyColor;
    border-radius: 24px;
    transition: opacity 1s ease;
    display: flex;
}

.payments-page__pickuppoint-container {
  height: 100%;
  width: 346px;
  // border: #EE3465 1px solid;
  position: relative;
}

.payments-page__pickuppoint-button {
  position: absolute;
  bottom: 24px;
  left: 24px;
}

.payments-page__pickuppoint-list {
  display: flex;
  flex-direction: column;
  // overflow-y: scroll;
  overflow-y: auto;
  // white-space: nowrap;
  height: 620px;
  padding: 24px 0;
  box-sizing: border-box;
}

.payments-page__pickuppoint_choosed {
  background-color: $whiteColof;
}

.payments-page__pickuppoint {
  width: 100%;
  height: 182px;
  // background-color: aqua;
  // border: 1px green solid;
  cursor: pointer;
}

.payments-page__pickuppoint-box {
  padding: 0 24px;
}

.payments-page__pickuppoint-title {
  @include fontStyle($fontSH3, $fontWH3);
  margin-top: 24px;
}

.payments-page__pickuppoint-title_payout {
  margin-top: 0;
}

.payments-page__pickuppoint-paragraph {
  margin-top: 8px;
  @include fontStyle($fontSCaptionRegular, $fontWCaptionRegular)
}

.payments-page__pickuppoint-paragraph:last-of-type {
  margin-bottom: 24px;
}

.payments-page__pickuppoint-paragraph_payout:last-of-type {
  margin-bottom: 0;
}

.payments-page__close-button {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 31px;
  right: 24px;
  background-image: url('#{$imagesDir}icons/btn-close-popup-pick-up.svg');
  // background-repeat: no-repeat;
  background-size: cover;
  border: none;
  cursor: pointer;
  transition: opacity 1s ease;
  background-color: transparent;
  z-index: 2;
}

.payments-page__delivery-point {
  display: flex;
  height: 77px;
  gap: 24px;
}

.payments-page__edit-delivery {
  display: flex;
  justify-content: center;
  align-items: center;
}

.payments-page__edit-delivery-button {
  background-size: cover;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url('#{$imagesDir}icons/edit-icon.svg');
}

.payments-page__map-container {
  width: 552px;
  height: 700px;
}

.payments-page__map {
  width: 552px;
  height: 700px;
  border: none;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.payments-page__pickuppoint-search {
  width: 298px;
  height: 44px;
  margin: 24px auto 0 auto;
  display: flex;
  align-items: center;
  // justify-content: center;
  background-color: white;
  border-radius: 40px;
  height: 40px;
  padding: 0 28px;
  box-sizing: border-box;
}

.payments-page__pickuppoint-search-input {
  // display: flex;
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: none;
  margin-left: 8px;
}

.payments-page__pickuppoint-search-input::placeholder {
  display: flex;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin-left: 12px;
  color: #AFB4C0;
}

.payments-page__pickuppoint-search-input:focus {
  outline: none;
}

.payments-page__pickuppoint-search-button {
  border: none;
  // cursor: pointer;
  display: flex;
  background-color: transparent;
  padding: 0;
}

.payments-page__pickuppoint-search-icon {
  width: 16px;
  height: 16px;
}

.payments-page__res-popup-conatiner {
  position: relative;
  //width: 898px;
  // height: 700px;
  // display: contents;
  // background-color: $greyColor;
  border-radius: 24px;
  transition: opacity 1s ease;
  display: flex;
}

.payments-page__res-popup-info {
  background-color: #FFF;
  padding: 44px;
  border-radius: 24px;
  width: 600px;
  background-color: #F5F5F5;
  box-sizing: border-box;
}

.payments-page__res-popup-close-ctn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}

.payments-page__res-popup-close-ctn:nth-of-type(2) {
  margin-bottom: 24px;
}

.payments-page__form-title_type_popup {
  padding: 0;
}

.payments-page__form-title_type_popup:nth-of-type(2) {
  font-weight: 700;
}

.payments-page__close-button_res {
  position: relative;
  top: 0;
  right: 0;
}

.payments-page__summary-data_popup {
  margin-bottom: 16px;
}

.payments-page__summary-data_final {
  margin-top: 24px;
  margin-bottom: 24px;
}

.payments-page__summary-final_popup {
  margin: 0;
}

.payments-page__btn-ctn {
  display: flex;
  justify-content: center;
}

