.delivery {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  padding: 64px 271px 187px 155px;
}

.delivery__header {
  margin: 0;
  font-family: Wix Madefor Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}

.delivery__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 139px;
  margin-top: 44px;
}

.delivery__info {
  display: flex;
  max-width: 438px;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
}

.delivery__info-wrapper {
  display: flex;
  flex-direction: column;
}

.delivery__info-icon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.delivery__info-title {
  font-family: Wix Madefor Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  line-break: anywhere;
  width: max-content;
}

.delivery__info-description {
  max-width: 438px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
}

.delivery__info-highlight {
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 16px;
}