.characteristics-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 16px;
}

.characteristics-list_full {
  gap: 24px;
  max-width: 780px;
}

.characteristics-list__item_full {
  display: flex;
  justify-content: space-between;
}

.characteristics-list__item-key {
  @include fontStyle($fontSCharacteristics, $fontWCharacteristics);
  color: $accentBlackColor;
  margin-right: 12px;
  line-height: 24px;
}

.characteristics-list__item-value {
  @include fontStyle($fontSBody, $fontWBody);
  color: $blackColor;
}