.profile {
  padding: 64px 40px 140px;
  display: grid;
  grid-template-columns: 322px 553px auto;
  column-gap: 139px;
  &__sidemenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 484px;
    &-options {
      display: flex;
      flex-direction: column;
    }
    &-link {
      text-decoration: none;
      color: $accentBlackColor;
      padding: 16px;
      display: flex;
      column-gap: 16px;
      align-items: center;
      border-radius: 16px;
      border: none;
      font-size: $fontSBody;
      font-weight: $fontWBody;
      line-height: 120%;
      background-color: transparent;
      cursor: pointer;
      &_active {
        background-color: white;
      }
    }
  }
}