$blackColor: #222;
$greyColor: #EDEDED;
$fontMargin: 0;
$fontDOldPrice: line-through;
$images-dir: './images/';
$images-dir2: './image/';
$imagesDir: './image/';


$fontSH1: 68px;
$fontWH1: 700;

$fontSH2: 56px;
$fontWH2: 500;

$fontSH3: 32px;
$fontWH3: 700;

$fontSH4: 24px;
$fontWH4: 500;

$fontSPrice: 24px;
$fontWPrice: 600;

$fontSPriceSmall: 20px;
$fontWPriceSmall: 600;

$fontSOldPrice: 20px;
$fontWOldPrice: 600;

$fontSOldPriceSmall: 16px;
$fontWOldPriceSmall: 600;

$fontSButton: 20px;
$fontWButton: 600;

$fontSBodyBold: 16px;
$fontWBodyBold: 700;

$fontSBody: 16px;
$fontWBody: 400;

$fontSCaption: 14px;
$fontWCaption: 400;
