$blackColor: #222;
$greyColor: #EDEDED;
$whiteColof: #FFF;
$fontMargin: 0;
$fontDOldPrice: line-through;
$imagesDir: './image/';

$fontSH1: 40px;
$fontWH1: 500;

$fontSH2: 32px;
$fontWH2: 500;

$fontSH3: 24px;
$fontWH3: 600;

$fontSH4: 24px;
$fontWH4: 500;

$fontSPrice: 24px;
$fontWPrice: 700;

$fontSPriceSmall: 20px;
$fontWPriceSmall: 500;

$fontSOldPrice: 24px;
$fontWOldPrice: 600;

$fontSOldPriceSmall: 16px;
$fontWOldPriceSmall: 600;

$fontSTag: 20px;
$fontWTag: 700;

$fontSButton: 16px;
$fontWButton: 600;

$fontSAmount: 14px;
$fontWAmount: 600;

// $fontSBodyBold: 16px;
// $fontWBodyBold: 700;

$fontSBody: 20px;
$fontWBody: 400;

$fontSCaption: 14px;
$fontWCaption: 400;
