// @import '~bulma/bulma';

body {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url('./vendor/normalize.css');
@import url('../src/vendor/fonts.css');
@import url('https://fonts.cdnfonts.com/css/wix-madefor-text');

@import '../src/utils/_variables.scss';
@import '../src/utils/_mixins.scss';

@import '../src/components/App/App';
@import '../src/components/Discount/Discount';
@import '../src/components/AboutCompany/AboutCompany';
@import '../src/components/Accordion/Accordion';
@import '../src/components/Breadcrumb/Breadcrumb';
@import '../src/components/Contacts/Contacts';
@import '../src/components/Faq/Faq';
@import '../src/components/Footer/Footer';
@import '../src/components/Cart/Cart';
@import '../src/components/PaymentsPage/PaymentsPage';
@import '../src/components/ProductCardMedium/ProductCardMedium';
@import '../src/components/PopupTemplate/PopupTemplate';
@import '../src/components/SignIn/Signin';
@import '../src/components/signup/Signup';
@import '../src/components/WarningPopup/WarningPopup';
