@charset "UTF-8";
@import url("./vendor/normalize.css");
@import url("../src/vendor/fonts.css");
@import url("https://fonts.cdnfonts.com/css/wix-madefor-text");
@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@500;600&display=swap");
body {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}

.results__title, .payments-page__summary-final, .payments-page__summary-row, .payments-page__good-numbers, .payments-page__delivery-type, .payments-page__input-title, .payments-page__form-title, .payments-page__title {
  margin: 0;
  color: #222;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.discount {
  margin: 576px auto 140px auto;
  height: 360px;
  display: flex;
  gap: 24px;
  width: 1360px;
}

.discount__container {
  height: 100%;
}

.discount__container:first-child {
  width: 553px;
}

.discount__container:nth-child(2) {
  width: 323px;
}

.discount__container:last-child {
  width: 438px;
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;
}

.discount__offer {
  width: 100%;
  height: 100%;
}

.about-company {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  padding: 44px 271px 140px 155px;
}

.about-company__header {
  font-size: 68px;
  font-weight: 700;
  line-height: 100%;
  margin-top: 0;
  margin-bottom: 64px;
}

.about-company__feature-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "goal delivery" "new delivery";
  -moz-column-gap: 139px;
       column-gap: 139px;
  row-gap: 64px;
}

.about-company__feature:first-of-type {
  grid-area: goal;
}

.about-company__feature:nth-last-of-type(2) {
  grid-area: delivery;
}

.about-company__feature:last-of-type {
  grid-area: new;
}

.content {
  display: grid;
  grid-template-areas: "a b" "a c";
  -moz-column-gap: 9px;
       column-gap: 9px;
  height: -moz-fit-content;
  height: fit-content;
}

.content__head {
  font-size: 32px;
  font-weight: 700;
  line-height: 146%;
  margin-top: 0;
  margin-bottom: 24px;
  grid-area: b;
}

.content__icon {
  grid-area: a;
  width: 38px;
  height: 38px;
}

.content__text {
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0;
  margin-bottom: 16px;
  max-width: 386px;
}

.content__description {
  grid-area: c;
}

.content__text:last-of-type {
  margin-bottom: 0;
}

.accordion__container {
  max-width: 950px;
}

.accordion__container:not(:last-of-type) {
  margin-bottom: 44px;
}

.accordion__container-head {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Wix Madefor Display";
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
}

.accordion__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.accordion__btn {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  border: none;
  background-color: transparent;
  padding: 18px 0 18px;
  color: #222;
  cursor: pointer;
}

.accordion__question {
  text-align: start;
  margin: 0;
  margin-right: 10px;
  font-family: "Wix Madefor Display";
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}

.accordion__arrow {
  transition: transform 0.2s ease-in-out;
}

.accordion__arrow_opened {
  transform: rotate(-180deg);
}

.accordion__answer {
  margin: 0;
  padding-bottom: 16px;
  max-width: 720px;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.accordion__answer-wrap {
  overflow: hidden;
  transition: height 0.2s linear;
}

.breadcrumb {
  list-style: none;
  margin: 24px auto 12px;
  max-width: 1360px;
  width: 100%;
  padding: 0;
  display: flex;
}

.breadcrumb__item {
  padding: 16px 12px;
  color: #272A31;
  font-size: 16px;
  margin-right: 20px;
  position: relative;
}

.breadcrumb__item:not(:last-of-type):after {
  position: absolute;
  content: "";
  background: url("./image/icons/arr_right-breadcrumd.svg") no-repeat center;
  width: 20px;
  height: 20px;
  right: -20px;
}

.breadcrumb__item-link {
  text-decoration: none;
  color: #272A31;
}

.faq {
  max-width: 1130px;
  width: 100%;
  margin: auto;
  padding: 44px 40px 138px;
}

.faq__header {
  margin-top: 0;
  margin-bottom: 44px;
  font-family: "Wix Madefor Display";
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
}

.footer {
  background-color: #272A31;
}

.footer__content {
  max-width: 1360px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 40px 40px 144px;
}

.footer__logo {
  width: 253px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__copyright {
  display: block;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  margin-top: 20px;
}

.footer__contacts-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: 416px;
}

.footer__contacts-item, .footer__nav-link {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.footer__contacts-item {
  margin-left: 6px;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: end;
  gap: 12px;
  max-width: 322px;
  width: 100%;
}

.footer__nav-link {
  text-decoration: none;
}

/* If cart is full, use this styles: */
.cart {
  display: flex;
  width: 1440px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.cart__container {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  padding-right: 40px;
  padding-left: 40px;
  width: 1360px;
}

.cart__header {
  display: flex;
  margin: 0;
  align-self: flex-start;
  font-family: Helvetica Neue;
  font-weight: 500;
  font-size: 56px;
  line-height: 68.38px;
}

.cart__content {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 140px;
}

.cart__list {
  display: flex;
  margin-top: 45px;
  gap: 24px;
  flex-direction: column;
  max-width: 899px;
}

.cart__item {
  display: flex;
  border-radius: 24px;
  align-items: center;
  justify-content: space-between;
  gap: 68px;
  padding: 28px 40px;
  background-color: #EDEDED;
}

.cart__item-info {
  display: flex;
  gap: 24px;
}

.cart__item-image-wrapper {
  width: 100px;
  height: 100px;
  border-radius: 13px;
  background-color: white;
}

.cart__item-textdata {
  display: flex;
  gap: 8px;
  flex-direction: column;
  width: 272px;
  text-align: start;
  height: 105px;
  justify-content: space-between;
}

.cart__item-name {
  margin: 0;
  line-height: 19.36px;
  font-size: 16px;
  font-weight: 700;
}

.cart__item-description {
  margin: 0;
  line-height: 16.94px;
  color: #222222;
  font-size: 14px;
  font-weight: 400;
}

.cart__item-article {
  margin: 0;
  line-height: 16.94px;
  font-size: 14px;
  font-weight: 400;
  color: #B6B6B6;
}

.cart__item-quantity-button {
  display: flex;
  width: 92px;
  height: 27px;
  border: 1px solid #B6B6B6;
  border-radius: 16px;
  align-items: center;
  position: relative;
}

.cart__item-quantity-button-symbol {
  cursor: pointer;
  border: none;
  width: 42px;
  height: 100%;
  padding: 0;
  background: transparent;
}

.cart__item-quantity-button-number {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 16.94px;
  margin: 0;
}

.cart__item-price-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cart__item-price-wrapper {
  display: flex;
  flex-direction: row;
}

.cart__item-salesprice {
  display: flex;
  line-height: 24.2px;
  font-size: 20px;
  font-weight: 600;
  text-align: right;
}

.cart__item-originprice {
  line-height: 19.36px;
  font-size: 16px;
  font-weight: 600;
  text-align: right;
  text-decoration-line: line-through;
  color: #B6B6B6;
}

.cart__cross-button-wrapper {
  width: 24px;
  height: 24px;
}

.cart__cross-button {
  border: none;
  cursor: pointer;
}

.cart__cross-icon {
  width: 14px;
  height: 14px;
}

.cart__item-onceprice-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: calc(100% + 8px);
  width: -moz-max-content;
  width: max-content;
}

.cart__item-onceprice-wrapper {
  display: flex;
}

.cart__item-onceprice {
  line-height: 16.94px;
  font-size: 14px;
  font-weight: 400;
  color: #B6B6B6;
}

.cart__item-price-container {
  display: flex;
}

.cart__item-price-wrapper {
  display: flex;
  flex-direction: column;
}

.cart__summary {
  display: block;
}

.cart__summary-container {
  display: flex;
  width: 437px;
  height: 278px;
  border-radius: 24px;
  margin: 44px 0 24px 0;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  background-color: #EDEDED;
}

.cart__order-title-wrapper {
  display: flex;
  width: 357px;
  height: 48px;
  border-bottom: 1px solid #B6B6B6;
}

.cart__order-title {
  display: flex;
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  color: black;
}

.cart__order-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 357px;
}

.cart__order-info-wrapper {
  display: flex;
  justify-content: space-between;
}

.cart__order-info-sum {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cart__order-info-sum-discount {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #B6B6B6;
}

.cart__order-total-wrapper {
  display: flex;
  width: 357px;
  height: 48px;
  border-top: 1px solid #B6B6B6;
  justify-content: space-between;
  align-items: flex-end;
}

.cart__order-total {
  display: flex;
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  color: black;
}

.cart__order-total-sum {
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.cart__order-button-wrapper {
  display: flex;
}

.cart__order-button {
  display: flex;
  width: 437px;
  height: 56px;
  padding: 16px 40px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border: 1px solid black;
  background: transparent;
  cursor: pointer;
}

.cart__order-button-title {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* If cart is empty, use this styles: */
.cart__default-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart__default-info {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 146%;
  margin-bottom: 44px;
}

.cart__default-button {
  width: 265px;
  height: 56px;
  padding: 16px 40px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border: none;
  background-color: black;
}

.cart__default-button-content {
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: -moz-max-content;
  width: max-content;
  color: white;
}

.payments-page {
  margin: 0 0 auto;
}

.payments-page__title {
  max-width: 1360px;
  margin: 44px auto 44px auto;
  font-size: 56px;
  font-weight: 500;
  text-decoration: none;
}

.payments-page__container {
  width: 1360px;
  margin: 0 auto 140px;
  display: flex;
}

.payments-page__input-containers {
  width: 899px;
  height: 635px;
}

.payments-page__client-name {
  width: 100%;
  height: 220px;
  margin-bottom: 24px;
  background-color: #EDEDED;
  border-radius: 24px;
}

.payments-page__client-address {
  width: 100%;
  height: 391px;
  background-color: #EDEDED;
  border-radius: 24px;
}

.payments-page__title-container {
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
}

.payments-page__form-title {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  padding: 40px 0 24px 40px;
}

.payments-page__form-title_type_address {
  line-height: 35px;
}

.payments-page__line {
  border-bottom: 1px #B6B6B6 solid;
  margin: 0 40px;
}

.payments-page__input-container {
  display: flex;
  width: 819px;
  margin: 24px 40px 0 40px;
}

.payments-page__input-label {
  width: 394px;
  display: flex;
  flex-direction: column;
}

.payments-page__input-title {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

.payments-page__client-data-input {
  width: 100%;
  height: 40px;
  background-color: #EDEDED;
  border-radius: 12px;
  border: 1px solid #222;
  padding: 0;
  color: #222;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;
  outline: none;
  margin-top: 8px;
  padding: 0 10px;
  box-sizing: border-box;
}

.payments-page__input-label:first-of-type {
  margin-right: 31px;
}

.payments-page__input-error {
  color: #EE3465;
  margin-top: 3px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
}

.payments-page__delivery-type {
  background: var(--main-white, #FFF);
  width: 126px;
  height: 35px;
  border-radius: 24px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  margin: auto 0;
  border: none;
  margin: 40px 24px 24px auto;
}

.payments-page__delivery-type:first-of-type {
  width: 92px;
}

.payments-page__delivery-type:last-of-type {
  width: 126px;
  margin-right: 0;
  margin-left: 0;
}

.payments-page__address-container {
  margin: 24px 40px 0;
  height: 228px;
  border: 1px solid red;
  display: flex;
}

.payments-page__address-input-container {
  border: 1px solid blue;
  width: 255px;
  height: 100%;
}

.payments-page__input-label_type_address {
  width: 100%;
}

.payments-page__address-box {
  margin-top: 16px;
  border: 1px greenyellow solid;
  height: 146px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 25px;
}

.payments-page__summary {
  background-color: #EDEDED;
  border-radius: 24px;
  width: 437px;
  margin-left: 24px;
}

.payments-page__cart-container {
  margin: 24px 40px 24px 40px;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 16px;
}

.payments-page__good {
  background: var(--main-white, #FFF);
  width: 100px;
  height: 100px;
  border-radius: 13.333px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.payments-page__good-photo {
  margin: auto;
  height: 72px;
  max-width: 59px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}

.payments-page__good-numbers {
  position: absolute;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  bottom: 6px;
  right: 6px;
  line-height: 14px;
  font-family: "Wix Madefor Display";
}

.payments-page__summary-data {
  display: flex;
  justify-content: space-between;
  margin: 0 40px 24px 40px;
}

.payments-page__summary-row {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.payments-page__summary-row_discount {
  color: var(--Dark-gray, #B6B6B6);
}

.payments-page__summary-final {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  margin: 24px 0 40px;
}

.card-medium {
  margin: auto;
  position: relative;
  list-style: none;
  padding-left: 0;
}

.card-medium__container {
  width: 322px;
  height: 474px;
}

.card-medium__like {
  background-image: url("./image/1.svg");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  background-position: center;
  background-color: transparent;
  border: none;
  padding: 8px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.card-medium__like:hover {
  background-image: url("./image/hover-like.svg");
}

.card-medium__like_active {
  background-image: url("./image/liked.svg");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  background-position: center;
  background-color: transparent;
  border: none;
  padding: 8px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.card-medium__sticker {
  font-family: Wix Madefor Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: var(--Black, #272A31);
  width: 56px;
  height: 24px;
  padding: 6px 8px 2px;
  border-radius: 40px;
  background: #afc0ff;
  position: absolute;
  top: 12px;
  left: 12px;
  margin: 0;
  text-align: center;
}

.card-medium__sticker_inactive {
  display: none;
}

.card-medium__sticker_lowdiscount {
  background: #afffbc;
}

.card-medium__image {
  border-radius: 25px;
  background: var(--Gray, #ededed);
  width: 322px;
  height: 376px;
}

.card-medium__buy {
  background-image: url("./image/shopping.svg");
  width: 64px;
  height: 56px;
  background-position: center;
  border-radius: 40px;
  background-color: #272A31;
  border: none;
  padding: 16px 20px;
  position: absolute;
  top: 304px;
  right: 16px;
  background-repeat: no-repeat;
}

.card-medium__buy:hover {
  background-color: var(--Pink, #f0c7ec);
  transition: background-color 0.3s ease-in-out;
}

.card-medium__title {
  overflow: visible;
  color: #272A31;
  text-overflow: ellipsis;
  font-family: Inter;
  white-space: pre-wrap;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  -webkit-hyphens: auto;
          hyphens: auto;
  word-wrap: break-word;
  margin: 0;
  max-height: 48px;
  overflow: hidden;
}

.card-medium__price {
  font-family: Wix Madefor Display;
  color: #272A31;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
}

.card-medium__oldprice {
  color: #AFB4C0;
  font-family: Wix Madefor Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-decoration-line: line-through;
  margin: 0;
}

.card-medium__container-price {
  display: flex;
  gap: 8px;
  align-items: baseline;
}

.card-medium__link {
  -webkit-hyphens: auto;
          hyphens: auto;
  word-wrap: break-word;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-medium__counter {
  color: var(--Black, #222);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: absolute;
  top: 321px;
  left: 244px;
}

.card-medium__buy_big {
  width: 82px;
  background-image: url("./image/shopping1.svg");
  height: 56px;
  background-position: 38px;
  border-radius: 40px;
  background-color: var(--White, #fff);
  border: 1px solid var(--Black, #222);
  padding-top: 16px;
  position: absolute;
  top: 304px;
  right: 16px;
  background-repeat: no-repeat;
}

.card-medium__container-footer {
  display: flex;
  flex-direction: column;
  height: 90px;
  justify-content: space-between;
}

.card-medium__container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
}

.popup_overlay {
  background-color: rgba(34, 34, 34, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
}

.signin__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 440px;
  min-height: 430px;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.07);
  border-radius: 25px;
}

.signin__title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 28px;
}

.signin__title {
  font-size: 27px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  font-family: "Wix Madefor Display";
  max-width: 400px;
}

.signin__subtitle {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin: 4px 0 0;
  max-width: 324px;
}

.signin__inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.signin__input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.signin__input-wrapper:first-of-type {
  margin-top: 0px;
}

.signin__input {
  padding: 10px 12px 10px;
  border-radius: 12px;
  border: 1px solid #B6B6B6;
  width: 324px;
  min-height: 24px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex: 1;
}

.signin__label {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 8px;
}

.signin__input:focus {
  border-color: black;
}

.signin__input_valid {
  border: 1px solid #60FF23;
}

.signin__input_invalid {
  border: 1px solid #FF014E;
}

.signin__error-text {
  color: #FF014E;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 324px;
  margin: 8px 0 0;
  align-self: flex-start;
  padding-left: 25px;
}

.signin__buttons {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin__button {
  border-radius: 40px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 324px;
  height: 56px;
  cursor: pointer;
  margin-bottom: 12px;
  font-family: "Wix Madefor Display";
}

.signin__button:active {
  transform: scale(0.95);
}

.signin__button:last-child {
  margin-bottom: 12px;
}

.signin__button_enter {
  background: #222;
  color: #fff;
  border: none;
}

.signin__button_enter:disabled {
  background: #B6B6B6;
}

.signin__button_registr {
  background: #fff;
  color: black;
}

.signin__button_cls {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  background-image: url("./image/icons/popup__button-close.svg");
  box-sizing: border-box;
  border-radius: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.signin__button_cls:active {
  transform: scale(0.95);
}

.signin__link {
  text-decoration: none;
  margin-top: 16px;
  align-self: center;
  color: #0500FF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
}

.signin__toggle-password-icon {
  width: 24px;
  height: 24px;
}

.signin__toggle-password {
  position: absolute;
  top: 70%;
  right: 8px;
  transform: translateY(-50%);
  cursor: pointer;
}

.signup__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 440px;
  min-height: 516px;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.07);
  border-radius: 25px;
}

.signup__title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 28px;
}

.signup__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  font-family: "Wix Madefor Display";
  max-width: 400px;
}

.signup__subtitle {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin: 4px 0 0;
  max-width: 400px;
}

.signup__inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.signup__input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.signup__input-wrapper:first-of-type {
  margin-top: 0px;
}

.signup__input {
  padding: 10px 12px 10px;
  border-radius: 12px;
  border: 1px solid #B6B6B6;
  width: 324px;
  min-height: 24px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex: 1;
}

.signup__label {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 8px;
}

.signup__input:focus {
  border-color: black;
}

.signup__input_valid {
  border: 1px solid #60FF23;
}

.signup__input_invalid {
  border: 1px solid #FF014E;
}

.signup__error-text {
  color: #FF014E;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 324px;
  margin: 8px 0 0;
  align-self: flex-start;
}

.signup__buttons {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup__button {
  border-radius: 40px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 324px;
  height: 56px;
  cursor: pointer;
  margin-bottom: 12px;
  font-family: "Wix Madefor Display";
}

.signup__button:active {
  transform: scale(0.95);
}

.signup__button:last-child {
  margin-bottom: 12px;
}

.signup__button_enter {
  background: #222;
  color: #fff;
  border: none;
}

.signup__button_enter:disabled {
  background: #B6B6B6;
}

.signup__button_registr {
  background: #fff;
  color: black;
}

.signup__button_cls {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  background-image: url("./image/icons/popup__button-close.svg");
  box-sizing: border-box;
  border-radius: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.signup__button_cls:active {
  transform: scale(0.95);
}

.signup__checkbox-container {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  max-width: 324px;
}

.signup__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.signup__checkbox + label {
  display: inline-flex;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.signup__checkbox + label::before {
  content: "";
  display: inline-block;
  width: 19px;
  height: 19px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 12px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.signup__checkbox:checked + label::before {
  content: "✓";
  border-color: #272A31;
  background-color: white;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.signup__checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #b3d7ff;
}

.signup__checkbox:not(:disabled):active + label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.signup__checkbox:focus + label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.signup__checkbox:focus:not(:checked) + label::before {
  border-color: #80bdff;
}

.signup__checkbox:disabled + label::before {
  background-color: #e9ecef;
}

.signup__checkbox-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.signup__personal-data {
  color: #0500FF;
}

.signup__toggle-password-icon {
  width: 24px;
  height: 24px;
}

.signup__toggle-password {
  position: absolute;
  top: 70%;
  right: 8px;
  transform: translateY(-50%);
  cursor: pointer;
}

.warningPopup {
  position: absolute;
  margin: 0 auto;
  top: 106px;
  left: 60%;
  right: 10%;
  z-index: 11;
  transform: translateX(25%);
}

.warningPopup_none {
  display: none;
}

.warning-popup__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin: 0;
  text-overflow: ellipsis;
}

.warning-popup__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 436px;
  min-height: 109px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.07);
  border-radius: 25px;
  z-index: 11;
}

.warning-popup__cls-btn {
  margin-top: 20px;
  border-radius: 40px;
  background: var(--Black, #222);
  width: 242px;
  height: 51px;
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.warning-popup__cls-btn:active {
  transform: scale(0.95);
}

.catalog {
  margin: auto;
  max-width: 1360px;
}

.catalog-shared {
  margin-bottom: 140px;
}

.catalog__title {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  margin: 0;
}

.catalog__title-catalog {
  font-size: 32px;
}

.catalog__rendered-list {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 44px 24px;
  max-width: 1014px;
  margin: 0;
}

.catalog__rendered-list_type_4items {
  grid-template-columns: repeat(4, 1fr);
  max-width: none;
}

.catalog__container {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.catalog__collection {
  width: 322px;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.catalog__model {
  font-weight: 400;
  margin-top: 17px;
  color: var(--Black, #222);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.catalog__model-link {
  text-decoration: none;
  color: var(--Black, #222);
}

.catalog__container-big {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  gap: 44px;
  margin-bottom: 154px;
  padding-left: 5px;
}

.catalog__models {
  font-weight: 600;
  margin: 35px 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: var(--Black, #222);
  font-size: 24px;
  font-style: normal;
  line-height: 30px;
}

.catalog__models:first-of-type {
  margin-top: 0;
}

.catalog__rendered-categories {
  display: grid;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(1, 1014px);
  max-width: 1014px;
  margin: 0;
}

.catalog__render-cat {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.catalog__render-popular {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 58px 24px;
}

.catalog__popular {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 40зч;
  margin: 66px 0 33px;
}

.catalog__text {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.catalog__model-catalog {
  margin-top: 16px;
}

.catalog__model-catalog:first-child {
  margin-top: 0;
}

.tile {
  max-width: 1360px;
  display: flex;
  flex-direction: column;
  margin: 0 auto 140px;
}

.tile__title {
  display: flex;
  align-items: start;
  margin: 0 0 32px;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--Black, #222);
  z-index: 1;
}

.tile__list {
  max-width: 1360px;
  display: grid;
  grid-template-columns: repeat(4, 322px);
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tile__item {
  border-radius: 20px;
  position: relative;
  background-color: #fff;
  height: 316px;
  padding-left: 0;
  list-style: none;
  display: flex;
}

.tile__item_small {
  height: 292px;
}

.tile__content {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #222;
  z-index: 1;
  justify-content: space-between;
  width: 100%;
}

.tile__image {
  background-size: cover;
  width: 100%;
  z-index: 0;
  aspect-ratio: 274/234;
  max-width: 274px;
  min-height: 204px;
  max-height: 234px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
  margin: 0 24px 0;
}

.tile__image_small {
  max-height: 210px;
  min-height: 180px;
  aspect-ratio: 274/210;
}

.tile__image:after {
  display: block;
  position: absolute;
  font-size: 16px;
  content: "Не удалось загрузить изображение";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #222;
  text-align: center;
}

.tile__category-title {
  margin: 32px 0 20px 24px;
  color: #222;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  text-align: start;
  max-width: 267px;
}

.not-found {
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.not-found__logo {
  width: 159px;
}

.not-found__container-text {
  position: relative;
  margin-top: 255px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.not-found__title {
  color: #000;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 80px 0 25px;
  letter-spacing: 2px;
}

.not-found__info {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 65px;
  letter-spacing: 0.5px;
}

.not-found__btn {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 40px;
  background: rgb(33, 33, 33);
  padding: 16px 40px;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.not-found__btn:hover {
  background: rgba(33, 33, 33, 0.8);
}

.not-found__image-l {
  transform: rotate(55.461deg);
  width: 369.637px;
  height: 225.751px;
}

.not-found__image-r {
  transform: rotate(304.539deg) scale(-1, 1);
  width: 377.962px;
  height: 230.836px;
}

.not-found__container-image {
  position: absolute;
  display: flex;
  width: 1138px;
  justify-content: space-between;
  position: absolute;
  top: 235px;
}

.pass-recovery__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 440px;
  min-height: 337px;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.07);
  border-radius: 25px;
}

.pass-recovery__title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 28px;
}

.pass-recovery__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  font-family: "Wix Madefor Display";
  max-width: 400px;
}

.pass-recovery__subtitle {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin: 4px 0 0;
  max-width: 400px;
}

.pass-recovery__inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.pass-recovery__input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.pass-recovery__input {
  padding: 10px 12px 10px;
  border-radius: 12px;
  border: 1px solid #B6B6B6;
  width: 324px;
  min-height: 24px;
  margin-top: 20px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.pass-recovery__input:first-of-type {
  margin-top: 0px;
}

.pass-recovery__input:focus {
  border-color: black;
}

.pass-recovery__input_valid {
  border: 1px solid #60FF23;
}

.pass-recovery__input_invalid {
  border: 1px solid #FF014E;
}

.pass-recovery__error-text {
  color: #FF014E;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 324px;
  margin: 8px 0 0;
  align-self: flex-start;
}

.pass-recovery__buttons {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pass-recovery__button {
  border-radius: 40px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 324px;
  height: 56px;
  cursor: pointer;
  margin-bottom: 12px;
  font-family: "Wix Madefor Display";
}

.pass-recovery__button:active {
  transform: scale(0.95);
}

.pass-recovery__button:last-child {
  margin-bottom: 12px;
}

.pass-recovery__button_enter {
  background: #222;
  color: #fff;
  border: none;
}

.pass-recovery__button_enter:disabled {
  background: #B6B6B6;
}

.pass-recovery__button_registr {
  background: #fff;
  color: black;
}

.pass-recovery__button_cls {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  background-image: url("./image/icons/popup__button-close.svg");
  box-sizing: border-box;
  border-radius: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.pass-recovery__button_cls:active {
  transform: scale(0.95);
}

.pass-recovery__link {
  text-decoration: none;
  margin-top: 16px;
  align-self: center;
  color: #0500FF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
}

.favourites {
  display: flex;
  width: 1440px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin: auto;
  min-height: -moz-max-content;
  min-height: max-content;
}

.favourites__container {
  display: flex;
  flex-direction: column;
  margin: 64px auto 140px;
  padding-right: 40px;
  padding-left: 40px;
  width: 1360px;
}

.favourites__header {
  display: flex;
  margin: 0;
  align-self: flex-start;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 56px;
  line-height: 68.38px;
}

.favourites__content {
  display: grid;
  row-gap: 64px;
  -moz-column-gap: 24px;
       column-gap: 24px;
  margin-top: 44px;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1360px;
  list-style: none;
}

.header__searchbar-container {
  width: 724px;
  display: flex;
}

.header__searchbar-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  border-radius: 40px;
  height: 56px;
  padding: 0 40px 0 40px;
}

.header__searchbar-button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.header__searchbar-button-icon {
  width: 24px;
  height: 24px;
}

.header__searchbar-input {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  margin-left: 12px;
}

.header__searchbar-input:focus {
  outline: transparent;
}

.header__searchbar-input::-moz-placeholder {
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: black;
}

.header__searchbar-input::placeholder {
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: black;
}

.header__searchbar-input:focus::-moz-placeholder {
  color: transparent;
}

.header__searchbar-input:focus::placeholder {
  color: transparent;
}

.results {
  display: flex;
  width: 1440px;
  box-sizing: border-box;
  margin: 0 auto auto;
}

.results__container {
  display: flex;
  flex-direction: column;
  padding-right: 40px;
  padding-left: 40px;
  width: 1360px;
}

.results__title {
  font-size: 56px;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  align-self: flex-start;
  font-family: "Inter", Arial, sans-serif;
  line-height: 1.2;
  margin-bottom: 44px;
}

.header {
  display: flex;
  z-index: 10000;
}

.header__container {
  max-width: 1440px;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  margin: auto;
  flex-direction: row;
  align-items: center;
  padding: 16px 0 12px 0;
}

.header__logo {
  display: flex;
  margin-right: 20px;
}

.header__catalog-button {
  width: 113px;
  height: 40px;
  color: white;
  background-color: black;
  border-radius: 40px;
  font-weight: bold;
  font-size: 17px;
  margin-left: 20px;
  border: none;
  cursor: pointer;
}

.header__catalog-button_white {
  color: black;
  background-color: white;
}

.header__navbar-link {
  cursor: pointer;
}

.header__navbar {
  display: flex;
}

.header__navbar-icon {
  height: 32px;
  width: 32px;
  margin: 12px 20px;
}

.header__auth-button {
  width: 96px;
  height: 40px;
  color: black;
  background-color: transparent;
  border-radius: 40px;
  font-size: 16px;
  margin-left: 20px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #272A31;
}

.header__auth-button_white {
  color: white;
  border: 1px solid white;
}

.popup-add-to-cart {
  display: flex;
  width: 396px;
  height: 138px;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.07);
  position: absolute;
  top: -89px;
  right: 40px;
  background-color: #fff;
  opacity: 0;
  transition: 0.3s;
}

.popup-add-to-cart_opened {
  opacity: 1;
}

.popup-add-to-cart__product-photo {
  width: 138px;
  height: 138px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin-right: 16px;
}

.popup-add-to-cart__container {
  display: flex;
  flex-direction: column;
}

.popup-add-to-cart__product-name {
  margin-top: 12px;
  margin-bottom: 20px;
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.popup-add-to-cart__head {
  font-size: 14px;
  margin: 0;
}

.popup-add-to-cart__button {
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 40px;
  background-color: #222;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.characteristics-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
}

.characteristics-list_full {
  display: block;
  -moz-column-count: 2;
       column-count: 2;
}

.characteristics-list__item:not(:last-of-type) {
  margin-bottom: 20px;
}

.characteristics-list__item-key {
  color: #B6B6B6;
  margin-right: 12px;
}

.characteristics-list__item-value {
  color: #222;
}

.product-page {
  max-width: 1360px;
  width: 100%;
  padding: 44px 0 187px;
  margin: auto;
  position: relative;
}

.product-page__head-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.product-page__header {
  margin: 0;
  color: #000;
  font-size: 32px;
  font-weight: 700;
  line-height: 146%;
  max-width: 1130px;
}

.product-page__item-number {
  text-align: right;
  margin-left: 24px;
  color: #000;
  font-size: 14px;
}

.product-page__info-container {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  margin-bottom: 64px;
}

.product-page__slider {
  width: 553px;
  display: flex;
  flex-direction: row-reverse;
  gap: 24px;
  z-index: 0;
}

.product-page__characteristics {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.product-page__characteristic-head {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.product-page__all-characteristics {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.product-page__price-block {
  padding: 40px 24px;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #EDEDED;
  border-radius: 15px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.07);
  margin-left: auto;
}

.product-page__current-price {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  margin-right: 16px;
}

.product-page__old-price {
  color: #B6B6B6;
  font-size: 20px;
  font-weight: 700;
  text-decoration: line-through;
}

.product-page__buttons {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 32px;
}

.product-page__button-basket {
  padding: 16px 20px;
  border-radius: 40px;
  border: none;
  background-color: #222;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  min-width: 206px;
  min-height: 56px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.product-page__button-faivorite {
  border: none;
  padding: 12px 6px;
  cursor: pointer;
}

.product-page__faivorite-icon {
  width: 32px;
  height: 32px;
}

.product-page__benefits-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.product-page__benefit {
  display: flex;
}

.product-page__benefit-text {
  color: #000;
  font-size: 16px;
  margin: 0;
}

.product-page__benefit-icon {
  width: 20px;
  height: 20px;
  margin-right: 16px;
}

.product-page__about-product {
  max-width: 1124px;
  margin: auto;
}

.product-page__about-header {
  display: flex;
  gap: 24px;
  margin-bottom: 44px;
}

.product-page__description-title {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  padding: 8px;
  width: 206px;
  text-align: center;
  color: #B6B6B6;
  border-bottom: 1px solid #B6B6B6;
  cursor: pointer;
}

.product-page__description-title_active {
  color: #000;
  border-color: #000;
  cursor: default;
}

.product-page__about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.product-page__about-description {
  color: #000;
  font-size: 16px;
  margin: 0;
}

.product-page__about-description:nth-of-type(2) {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 3;
}

.product-page__about-description:nth-of-type(3),
.product-page__about-description:nth-of-type(4) {
  grid-row-start: 1;
  grid-row-end: 3;
}

.popup-product-photo {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s linear;
  z-index: 10001;
}

.popup-product-photo_opened {
  visibility: visible;
  opacity: 1;
}

.popup-product-photo__container {
  margin: auto;
  position: relative;
  max-width: 1360px;
}

.swiper.swiper-full-photo {
  border-radius: unset;
  margin-top: 0;
}

.swiper-full-photo__img {
  width: 100%;
  height: 100%;
  max-height: 75vh;
  max-width: 75vw;
  -o-object-fit: contain;
     object-fit: contain;
}

.swiper-full-photo .swiper-slide {
  background-color: transparent;
}

.swiper-full-photo .swiper-wrapper {
  align-items: center;
}

.popup-product-photo__btn-close {
  position: absolute;
  right: -25px;
  top: -25px;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.popup-product-photo__btn-close::after,
.popup-product-photo__btn-close::before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: rgb(31, 175, 211);
  position: absolute;
  top: 0;
  bottom: 0;
}

.popup-product-photo__btn-close::after {
  transform: rotate(45deg);
}

.popup-product-photo__btn-close::before {
  transform: rotate(-45deg);
}

.delivery {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  padding: 44px 271px 187px 155px;
}

.delivery__header {
  margin: 0;
  font-family: Helvetica Neue;
  font-size: 68px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

.delivery__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 139px;
       column-gap: 139px;
  margin-top: 64px;
}

.delivery__info {
  display: flex;
  max-width: 438px;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
}

.delivery__info-wrapper {
  display: flex;
  flex-direction: column;
}

.delivery__info-icon {
  width: 39px;
  height: 39px;
  margin-right: 8px;
}

.delivery__info-title {
  font-family: "Helvetica", "Inter", Arial, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 146%;
  margin: 0;
  line-break: anywhere;
  width: -moz-max-content;
  width: max-content;
}

.delivery__info-description {
  max-width: 438px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 24px;
}

.delivery__info-highlight {
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 16px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  outline: transparent;
  padding-left: 0;
  list-style: none;
  cursor: pointer;
  grid-column-start: 2;
}

.pagination__active {
  color: #272A31;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  border-radius: 24px;
  padding: 7px 12px;
  border: 1px solid #000;
  cursor: default;
}

.pagination__page-item {
  color: #272A31;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  margin: 0 24px;
}

.pagination__next-item {
  width: 40px;
}

.pagination__previous-item {
  width: 40px;
}

.pagination__previous-link_hidden {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=index.css.map */