.accordion__container {
  max-width: 950px;
}

.accordion__container:not(:last-of-type) {
  margin-bottom: 44px;
}

.accordion__container-head {
  @include fontStyle($fontSH2, $fontWH2);
  font-family: $fontFamilyWMD;
  margin-bottom: 20px;
  line-height: 40px;
}

.accordion__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.accordion__btn {
  color: $blackColor;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  border: none;
  background-color: transparent;
  padding: 18px 0 18px;
  cursor: pointer;
}

.accordion__question {
  @include fontStyle($fontSH3, $fontWH3);
  font-family: $fontFamilyWMD;
  text-align: start;
  margin-right: 10px;
  line-height: 30px;
}

.accordion__arrow {
  transition: transform .2s ease-in-out;
}

.accordion__arrow_opened {
  transform: rotate(-180deg);
}

.accordion__answer {
  @include fontStyle($fontSBody, $fontWBody);
  padding-bottom: 16px;
  max-width: 720px;
  line-height: 24px;
  color: $secondaryBlackColor;
}

.accordion__answer-wrap {
  overflow: hidden;
  transition: height .2s linear;
}
