.swiper {
  margin-bottom: 40px;
  position: relative;
}

.swiper-container {
  width: 1440px;
  height: 640px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__action-img {
  width: 1440px;
  height: 640px;
}

.swiper-button-next {
  width: 56px !important;
  height: 56px !important;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  padding: 4px;
}

.swiper-button-next_lightgrey{
  background-image: url("../../image/icons/swiper-main-black-btn.svg") !important;
}

.swiper-button-next_black{
  background-image: url("../../image//icons/swiper-main-gray-btn.svg") !important;
}

.swiper-button-next::after {
  display: none;
}